body {
    margin: 0;
    overflow: hidden;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0px;
}

.App {
    height: 100vh;
    display: grid;
    grid-template: 1fr / 60px 1fr;
}

.Side {
    background-color: black;
    color: white;
}

.Bottom {
    background-color: grey;
    color: white; 
    display: flex;
    justify-content: space-around;
}

.Main {
    height: 100vh;
    display: grid;
    grid-template: 1fr 60px / 1fr;  
}

.canvasContainer {
    background-color: blue;
    color: white;    
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: white;
    image-rendering: pixelated;
    width: 400px;
    height: 400px;
}

.active {
    background-color: grey;
}